body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

header {
    background-color: #201c1c;
    color: #fff;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected {
    color: lightskyblue;
}

.login {
    color: red;
}

.logo img {
    width: 72%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product p {
    font-size: 1rem;
    margin: 0;
}

.product-container-ofertas {
    display: flex; /* Cambiamos a flex container */
    justify-content: center; /* Centramos horizontalmente */
    flex-direction: column;
    gap: 20px;
}

.product-oferta {
    width: 100%; /* Establecemos el ancho de cada elemento para que ocupe todo el ancho disponible */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f49090;
    margin-bottom: 20px;
}

.product-oferta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product-oferta h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-oferta p {
    font-size: 1rem;
    margin: 0;
}

.discount {
    text-decoration:line-through;
}

.contact-form {
    max-width: 400px;
    margin: 4.5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 12vh;
}

.contact-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.login-container {
    max-width: 400px;
    margin: 16vh auto 0;
    transform: translateY(-20%);
    padding: 20px;
    border: 1px solid #201c1c;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #201c1c;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form button {
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #555;
}

.landing-container {
    max-width: 100%;
    height: 60vh;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lucie-liz-3165335.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.landing-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-cta {
    width: 30%;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-cta:hover {
    background-color: #0056b3;
}

footer {
    background-color: #201c1c;
    color: #fff;
    text-align: center;
    padding: 10px;
}
